worker_processes  auto;

error_log   /data/nginx/logs/error.log info;

events {
    worker_connections  1024;
}
http {

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /data/nginx/logs/access.log  main;

    client_max_body_size 1400m;
    
    {% block http_upstream %}
    {% for upstream in nginx_upstreams %}
        upstream {{ upstream.name }} {
    {% for server in upstream.servers %}
        server {{ server }}:443;
    {% endfor %}
    }
    {% endfor %}
    {% endblock %}

    include       mime.types;
    default_type  application/octet-stream;

    sendfile        on;
    keepalive_timeout  65;

    #Private API rate limiting zone
    limit_req_zone $binary_remote_addr zone=private-api-limit:30m rate=900r/s;

    #Public API rate limiting zone
    limit_req_zone $binary_remote_addr zone=public-api-limit:30m rate=200r/s;
   # HTTPS server

   server {
        listen 80;
        listen       443 ssl;
        server_name  {{ ansible_eth0.ipv4.address }};

        # Apply Rate limiting
        limit_req zone=private-api-limit burst=200 nodelay;

        ssl_certificate      /etc/nginx/certs/nginx-selfsigned.crt;
        ssl_certificate_key  /etc/nginx/certs/nginx-selfsigned.key;

        ssl_protocols       TLSv1.2;
        ssl_session_cache    shared:SSL:40m;
        ssl_session_timeout  4h;
        ssl_ciphers ECDH+AESGCM:ECDH+AES256:ECDH+AES128:DH+3DES:!ADH:!AECDH:!MD5;
        ssl_prefer_server_ciphers  on;

        location / {
                        # set [port_number] to the port set in IIS for HTTPS
                        proxy_pass https://webserver_hosts;
        }

        location ~ (.*)SqlReportServiceViewer.aspx {
                       proxy_pass https://webserver_hosts;
                       proxy_read_timeout 600s;
                       proxy_send_timeout 600s;
        }

        location ~* /InvestranReportWizardWebServices-7.5.0/auth {
                       deny all;
        }

        # For all requests to Report Wizard redirect to this location
        location ~ (.*)InvestranReportWizardWebServices(.*) {
                        rewrite_log on;
                        proxy_set_header X-ORIGINAL-HOST $http_host;
                        proxy_set_header X-ORIGINAL-URL $request_uri;
                        proxy_pass https://rw_hosts;
                        proxy_redirect https://rw_hosts http://$host:$server_port/;
        }

        # For all requests to Alerts redirect to this location
        location ~ (.*)InvestranAlertWebService(.*) {
                        rewrite_log on;
                        proxy_pass https://alerts_hosts;
                        proxy_redirect https://alerts_hosts http://$host:$server_port/;
        }

        # For all requests to RE redirect to this location
        location ~ (.*)InvestranReportingExchangeWebServices(.*) {
                        proxy_pass https://rs_hosts;
                        proxy_redirect https://rs_hosts http://$host:$server_port/;
        }

        # For all requests to the RW public API redirect to this location
        location  ~ (.*)api/ReportWizard/v1/(.*) {
                        rewrite_log on;
                        proxy_set_header X-ORIGINAL-HOST $http_host;
                        proxy_set_header X-ORIGINAL-URL $request_uri;
                        limit_req zone=public-api-limit burst=200;
                        proxy_pass https://rw_hosts/InvestranReportWizardWebServices-7.5.0/$2;
                        proxy_redirect https://rw_hosts/ https://$host:$server_port;
        }
        location ~* /InvestranWebApplication-7.5.0/auth(.*) {
                        limit_req zone=public-api-limit burst=200;
                        proxy_pass http://rw_hosts/InvestranReportWizardWebServices-7.5.0/auth/$is_args$args;
                        proxy_redirect https://rw_hosts/ http://$host:$server_port;
        }
        # For all requests to  */signalr/* redirect to this location and configuration
        location ~ ^/(.*)/signalr/ {
                        proxy_pass https://websockets_hosts;
                        proxy_http_version 1.1;
                        proxy_set_header Upgrade $http_upgrade;
                        proxy_set_header Connection "Upgrade";
                        proxy_set_header Host $host;
                        proxy_request_buffering off;
                        proxy_buffering off;
                        send_timeout 300;
                        proxy_connect_timeout 300;
                        proxy_send_timeout 300;
                        proxy_read_timeout 300;
                        proxy_cache_bypass $http_upgrade;
        }

        location ~ ^/(.*)WebSocket(.*) {
                        proxy_pass https://websockets_hosts;
                        proxy_http_version 1.1;
                        proxy_set_header Upgrade $http_upgrade;
                        proxy_set_header Connection "Upgrade";
                        proxy_set_header Host $host;
                        proxy_request_buffering off;
                        proxy_buffering off;
                        send_timeout 300;
                        proxy_connect_timeout 300;
                        proxy_send_timeout 300;
                        proxy_read_timeout 300;
                        proxy_cache_bypass $http_upgrade;
        }
   }
}
